/* Variables */

:root {
  font-size: 16px;
  --color-text: rgb(26, 24, 24);
  --color-bg: rgb(239, 227, 236);
  --color-bg-brown: #775959;
  --color-link: rgba(210, 88, 196, 0.86);
  --color-link-hover: rgb(74, 74, 73);
  --color-lines: rgba(120, 118, 119, 0.86);
  --page-padding: 1.5rem;
  overflow-x: hidden;
}

/* Fonts */

@font-face {
  font-family: "Graphyne";
  src: url("./fonts/Graphyne-Regular.woff2") format("woff2"),
    url("./fonts/Graphyne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tan Nimbus";
  src: url("./fonts/TAN-NIMBUS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Base Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg-brown);
  font-family: "scale-variable", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-variation-settings: "wght" 400, "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../img/noise.png);
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    color: var(--color-link-hover);
    opacity: 1;
    transition: 500ms;
  }
}

.type-small {
  font-family: "iki-mono-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 300;
  text-transform: uppercase;
}

.border-radius {
  border-radius: 0px 0px 30px 30px;
  background-image: url(../img/noise.png);
  background-color: var(--color-bg);
}

/* Layout */

.frame {
  padding: var(--page-padding);
  position: relative;
  display: grid;
  z-index: 800;
  width: 100%;
  height: 100%;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;

  &--header {
    padding: 10px 0px 0px 2.2vw;
    grid-template-columns: 100%;
    grid-template-areas:
      "name"
      "about"
      "works";
  }

  a {
    pointer-events: auto;
    font-size: 22px;
    font-weight: 700;
  }

  &__name {
    display: none;
  }

  &__about {
    grid-area: about;
    justify-self: start;
  }

  &__works {
    grid-area: works;
    justify-self: start;
  }
}

/* Intro */

.intro {
  padding: 0;
  line-height: 1;
  margin-top: 24vh;
  margin-bottom: 3vh;
  height: 58vh;

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 10px;
    gap: 1rem;

    h2 {
      font-size: 7vw;
      font-family: "Playfair Display", sans-serif;
      font-style: italic;
      text-align: left;
    }

    p {
      font-size: 24vw;
      font-family: "Tan Nimbus";
      margin: 0;
      text-align: left;
      letter-spacing: -3px;
    }
  }
}

/* Divider */

.divider {
  border-top: 2px solid var(--color-lines);
  max-width: 95%;
  margin: 20px auto 0;
}

.hide {
  display: none;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  gap: 20vh;
  width: 100vw;
  position: relative;
  margin-bottom: 10vh;
}

/* Blur Text */

.blur-text {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;

  .blur--title {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 6vh;
    margin: 0;
    text-align: left;
    color: var(--color-bg);
    text-shadow: 1px 1px #313030;
  }

  .blur--description {
    width: 95%;
    margin-top: 10px;
    font-family: "instrument-sans-variable", sans-serif;
    color: var(--color-bg);

    p {
      font-size: 3vh;
      margin: 0 0 20px 0;
      line-height: 1.2;
    }

    span {
      color: var(--color-link);
      font-weight: 800;
    }
  }
}

/* Cards */

#cards {
  background-color: var(--color-bg);
  background-image: url(../img/noise.png);
  border-radius: 30px 30px 0px 0px;
}
.cards--content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  // gap: 2vh;
  // width: 100vw;
  // position: relative;
  place-items: center;
  padding-bottom: 5vh;
}

.cards--title {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 6vh;
  margin: 0;
  text-align: left;
}
.card-wrap {
  margin-top: 5vh;
  display: grid;
  grid-gap: 3rem;
  grid-auto-flow: row;
  grid-template-columns: 100%;
}

.card__image {
  display: block;
  border-radius: 7px;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.card__title {
  font-size: 2.3vh;
  font-family: "iki-mono-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 300;
  text-transform: uppercase;
  letter-spacing: -0.1em;
}

.card__subtitle {
  font-size: 2vh;
  font-family: "instrument-sans-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 200;
  margin: 0;
}

/* Footer */

.frame--footer {
  flex-direction: column;
  padding: var(--page-padding);
  background-image: url(../img/noise.png);
  background-color: var(--color-bg);

  p {
    font-size: 12px;
    a {
      font-weight: 800;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .divider {
    margin: 0 auto 0;
  }

  .frame--header {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    max-width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .frame {
    &__name {
      display: grid;
      grid-area: name;
      opacity: 1;
      img {
        width: 65px;
      }
    }

    .blur-text {
      flex-direction: column;
      align-items: flex-start;

      .blur--title {
        font-size: 6vh;
        text-align: left;
      }

      .blur--description {
        width: 100%;

        p {
          font-size: 3vh;
        }
      }
    }

    &--footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 10vh;
    }
  }

  .intro {
    margin-top: 18vh;
    margin-bottom: 5vh;
    height: 70vh;

    &__heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      h2 {
        font-size: 5vh;
        text-align: center;
        padding-left: 20px;
      }

      p {
        font-size: 25vw;
        text-align: center;
        letter-spacing: -12px;
      }
    }
  }

  .card-wrap {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    grid-template-columns: 70%;
    justify-content: center;
  }

  .card__image {
    filter: brightness(0.7);
    transition: 500ms;

    &:hover {
      filter: brightness(1);
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .border-radius {
    border-radius: 0px 0px 50px 50px;
  }

  .frame {
    &__name {
      img {
        width: 90px;
      }
    }

    &--footer {
      p {
        font-size: 15px;
      }
    }
  }

  .intro {
    padding: var(--page-padding);
    margin-top: 35vh;
    margin-bottom: 10vh;

    &__heading {
      h2 {
        font-size: 6vh;
      }
      p {
        letter-spacing: -12px;
        font-size: 24vw;
      }
    }
  }

  #cards {
    border-radius: 50px 50px 0px 0px;
  }

  .card-wrap {
    grid-template-columns: repeat(2, 450px);
  }

  .card__image {
    filter: brightness(0.7);

    &:hover {
      filter: brightness(1);
    }
  }

  .blur-text {
    width: 95vw;
    max-width: 1200px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;

    .blur--title {
      font-family: "Bebas Neue", sans-serif;
      text-transform: uppercase;
      font-size: 6vh;
      margin: 0;
      text-align: right;
    }

    .blur--description {
      margin: 0;
      width: 80%;
      margin-top: 10px;

      p {
        font-size: 4vh;
        margin: 0 0 20px 0;
      }
    }
  }

  .content {
    margin-bottom: 15vh;
  }
}

@media screen and (min-width: 1440px) {
  body {
    overflow-x: hidden;
  }

  .frame--header {
    margin: 20px auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .intro {
    padding: var(--page-padding);
    margin-top: 20vh;
    min-height: 75vh;
    margin-bottom: 15vh;

    &__heading {
      padding-top: 100px;
      h2 {
        font-size: 3vw;
        padding-left: 24px;
        margin: 0;
      }
      p {
        font-size: 25vw;
        letter-spacing: -20px;
      }
    }
  }

  .blur-text {
    width: 100vw;
    max-width: 1200px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    margin-top: 50px;

    .blur--title {
      font-size: 6.5vh;
    }

    .blur--description {
      margin: 0;
      width: 90%;
      margin-top: 10px;

      p {
        font-size: 4vh;
        margin: 0 0 20px 0;
        line-height: 1.2;
      }
    }
  }

  .card-wrap {
    grid-template-columns: repeat(2, 600px);
    grid-gap: 4rem 4rem;
  }

  .card__image {
    filter: brightness(0.7);

    &:hover {
      filter: brightness(1);
    }
  }
}

@media screen and (min-width: 1690px) {
  body {
    overflow-x: hidden;
  }

  .intro {
    padding: var(--page-padding);
    margin-top: 28vh;
    min-height: 50vh;
    margin-bottom: 15vh;

    &__heading {
      padding-top: 0px;
      h2 {
        font-size: 3vw;
        padding-left: 30px;
      }
      p {
        font-size: 24vw;
        letter-spacing: -9px;
      }
    }
  }
}
